.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4vw;

  h1 {
    text-align: center;
  }
  button {
    padding: 1vh 0;
  }

  section {
    border: 2px solid rgb(113, 12, 12);
    box-shadow: 2px 2px 2px 2px;
    padding: 3%;
    margin: 3% 0;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.darkMode {
  background-color: black;
  color: white;
  section {
    border: 2px solid rgb(149, 161, 17);
    box-shadow: 2px 2px 2px 2px rgb(149, 161, 17);
  }
}
