* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

#Layout {
  min-height: 100vh;
  width: 100vw;
  text-decoration: none;
  color: black;

  a:hover,
  a.active {
    color: #fff;
    border-bottom: 4px solid orange;
    padding-bottom: 0.25em;
  }

  header {
    background-color: aquamarine;

    #Navbar {
      width: 100vw;
      ul {
        background-color: rgb(43, 124, 205);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        font-size: 1.2rem;
        height: 60px;
        li {
          margin-left: 2em;
        }
      }
    }
  }
  p {
    font-size: 3rem;
    text-align: center;
  }

  main {
    min-height: 100vh;
    padding: 2%;

    #Images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      img {
        border: 2px solid black;
        box-shadow: 1px 1px 1px 1px rgb(56, 54, 54);
      }
    }
  }

  footer {
    background-color: red;
  }

  .nested {
    background-color: antiquewhite;
  }
}
