#Layout,#layout-body {
  min-height: 100vh;
}

p {
  font-size: 3rem;
  text-align: center;
}

.container a {
  text-decoration: none;
  color: black;
}

ul {
  background-color: rgb(43, 124, 205);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  font-size: 1.2rem;
  height: 60px;
}
ul li {
  margin-left: 2em;
}

footer {
  background-color: red;
}

header {
  background-color: aquamarine;
}
.container a:hover,
.container a.active {
  color: #fff;
  border-bottom: 4px solid orange;
  padding-bottom: 0.25em;
}

.nested {
  background-color: antiquewhite;
}
